{% extends "_modal-widget.html" %}

{% block modal_id %}modal-about{% endblock %}

{% block modal_title %}
Sobre a Escola de Jornalismo
{% endblock %}

{% block modal_body %}
<p>O jornalismo não é só uma profissão, é uma forma de conhecer o mundo. Ser jornalista é perguntar, ouvir, aprender, desconfiar, comunicar. E muito mais.</p>
<p>É por isso que a gente acredita que é tão importante que o jornalismo faça parte de uma educação mais completa, que reconheça o jovem como cidadão, protagonista de seu meio e agente de transformações.</p>
<p>A Escola de Jornalismo trabalha com profissionais reconhecidos no mercado, tem videoaulas rápidas e simples, material de apoio e exercícios. Apresentamos ferramentas para que o jovem analise criticamente a mídia, estimulando a busca por informação e a investigação sobre diversos temas. Pra completar, oferecemos um espaço para a publicação e divulgação dos trabalhos dos estudantes.</p>
<p>E é tudo gratuito! Basta se inscrever e começar a aprender, no seu ritmo e do seu jeito.</p>
<p>Nossos cursos podem ser uma entrada no mundo da comunicação, uma forma de estudar dentro da sala de aula ou pura diversão. Tanto faz, o importante é começar! / (link para sub de cursos)</p>
<h2 id="énois">Énois</h2>
<p>A Escola de Jornalismo é uma iniciativa da Énois | Inteligência Jovem, uma agência escola que trabalha na formação de jovens e depois constrói, com eles, diversos produtos de comunicação, como revistas, sites, campanhas etc. Também desenvolvemos pesquisas e estratégias que engajamento para esse público.</p>
<p>Gostou? Saiba mais em nosso <a href="http://enoisconteudo.com.br/somos/">site</a>.</p>
<h2 id="agradecimentos">Agradecimentos</h2>
<p>O lançamento da Escola de Jornalismo só foi possível graças ao apoio de centenas de amigos e parceiros que contribuíram para nossa campanha no site de financiamento coletivo Catarse. Valeu!</p>
{% endblock %}
