{% load i18n %}
<ul class="nav navbar-nav navbar-right navbar-social">
    {% if not user.is_authenticated %}
    <li class="hidden-xs">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign In' %}</a>
        <div class="dropdown-menu">
            {% include '_navbar-login.html' %}
        </div>
    </li>
    <li class="hidden-xs">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign Up' %}</a>
        <div class="dropdown-menu">
            {% include '_navbar-signup.html' %}
        </div>
    </li>
    {% endif %}
    <li>
        <span>
            <a href="https://twitter.com/enois_conteudo" target="_blank"
                class="btn btn-link fa-stack fa-fw btn-social">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </a>
        </span>
        <span>
            <a href="https://www.facebook.com/enoisconteudo" target="_blank"
                class="btn btn-link fa-stack fa-fw btn-social">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
        </span>
        <span>
            <a href="https://www.youtube.com/channel/UCYK5jZb5wBIqbQgEnicF6kA" target="_blank"
                class="btn btn-link fa-stack fa-fw btn-social">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
        </a>
        </span>
    </li>
</ul>
