{% load i18n %}
{% load usergroup %}

<ul class="nav navbar-nav navbar-right navbar-menu">
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Quem somos <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-enois">
            <li><a href="#" data-toggle="modal" data-target="#modal-about">Conheça</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-contact">Contato</a></li>
        </ul>
    </li>
    <li><a href="{% url 'courses' %}">{% trans "Courses" %}</a></li>
    <li><a href="{% url 'portfolios' %}">Trampos</a></li>
    <li><a href="{% url 'teachers' %}">Mentores</a></li>
    {% if in_admin %}
    <li class="navbar-divider"></li>
    <li><a href="{% url 'administration.home' %}">{% trans "Admin" %}</a></li>
    {% else %}
    {% ifusergroup professors %}
    <li class="navbar-divider"></li>
    <li><a href="{% url 'administration.home' %}">{% trans "Admin" %}</a></li>
    {% endifusergroup %}
    {% endif %}
    {% if user.is_authenticated %}
    <li>
        <a class="username dropdown-toggle" data-toggle="dropdown" href="#">
            {{ user }} <i class="fa fa-chevron-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-user">
            <li><a href="{% url 'profile' %}">{% trans "Profile" %}</a></li>
            <li><a href="{% url 'profile_edit' %}">{% trans "Edit Profile and Account Settings" %}</a></li>
            <li class='divider'></li>
            <li><a href="{% url 'user_portfolios' %}">{% trans "My Portfolio" %}</a> </li>
            <li><a href="{% url 'user_courses' %}">{% trans "My Courses" %}</a></li>
            <li><a href="{% url 'user_notes' %}">{% trans "My Notes" %}</a></li>
            <li class='divider'></li>
            <li><a href="{% url 'timtec_logout' %}">{% trans "Logout" %}</a></li>
        </ul>
    </li>
    {% endif %}
    <li class="visible-xs">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign In' %}</a>
        <div class="dropdown-menu">
            {% include '_navbar-login.html' %}
        </div>
    </li>
    <li class="visible-xs">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans 'Sign Up' %}</a>
        <div class="dropdown-menu">
            {% include '_navbar-signup.html' %}
        </div>
    </li>
</ul>
