<div class="pagination pagination-centered">
    <ul class="pagination-controle pagination">
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">
                &lt; PREV
            </a>
            {% else %}
            <a class="btn btn-primary disabled">
                &lt; PREV
            </a>
            {% endif %}
        </li>
        <li>
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </li>
        <li>
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">
                NEXT &gt;
            </a>
            {% else %}
            <a class="btn btn-primary disabled">
                NEXT &gt;
            </a>
            {% endif %}
        </li>
    </ul>
</div>
