{% load thumbnail %}
<section>
    <div class="col-sm-6 col-md-3">
        <div class="thumb-portfolio">
            {% thumbnail portfolio.thumbnail "250x230" crop='center' as thumb %}
            <img src="{{ thumb.url }}" title="" alt=""/>
            {% endthumbnail %}
            <div>
                <div>
                    <h2><a href="{% url 'portfolio_view' pk=portfolio.id %}">{{ portfolio.name }}</a></h2>
                    <p>{{ portfolio.description }}</p>
                </div>
            </div>
        </div>
        <div class="user-data">
            <a href="{% url 'profile' username=portfolio.user.username %}">
                <i class="fa fa-user fa-lg"></i>
                {% if portfolio.user.first_name or portfolio.user.last_name %}
                {{ portfolio.user.get_full_name }}
                {% else %}
                {{ portfolio.user.username }}
                {% endif %}
            </a>
        </div>
    </div>
</section>
