<!-- FOOTER -->
<div id="main-footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-brand col-sm-6 col-md-3">
        <img class="img-responsive" src="/static/img/logo_enois.png">
      </div>
      <div class="footer-menu col-sm-6 col-md-3">
        <ul class="list-unstyled list-menu">
          <li>
            <a href="#" data-toggle="modal" data-target="#modal-about">Quem Somos</a>
          </li>
          <li>
            <a href="{% url 'courses' %}">Cursos</a>
          </li>
          <li>
            <a href="{% url 'portfolios' %}">Portfolio</a>
          </li>
          <li>
            <a href="{% url 'portfolios' %}">Mentores</a>
          </li>
        </ul>
      </div>
      <div class="footer-contact col-sm-6 col-md-3">
        <p>
          <a href="#" data-toggle="modal" data-target="#modal-contact">Contato</a>
        </p>
        <address>
          Rua Alfredo Maia, 506<br>
          Sala 3<br>
          São Paulo, SP<br>
          <a href="mailto:contato@enoisconteudo.com.br">contato@enoisconteudo.com.br</a><br>
        </address>
      </div>
      <div class="footer-extra col-sm-6 col-md-3">
          <p>
            <button class="btn btn-link fa-stack fa-fw btn-social">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </button>
            <button class="btn btn-link fa-stack fa-fw btn-social">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </button>
            <button class="btn btn-link fa-stack fa-fw btn-social">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
            </button>
          </p>
          <form>
            <label for="newsletter-email">RECEBA NOSSA NEWSLETTER</label>
            <div class="input-group">
              <input id="newsletter-email" type="text" class="form-control" placeholder="Email Address">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-angle-right"></i></button>
              </span>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<div class="scroll-top-wrapper ">
  <span class="scroll-top-inner">
    <i class="fa fa-2x fa-arrow-circle-up"></i>
  </span>
</div>

{% include '_modal-about.html' %}

{% include '_modal-contact.html' %}
