{% load i18n %}
<div class="container">
    {% include '_navbar-social.html' %}
</div>
<nav id="main-navbar" class="navbar navbar-static-top navMenu" role="navigation">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                data-toggle="collapse" data-target="#main-navbar-collapse">
                <span class="sr-only">{% trans 'Toggle navigation' %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="/static/img/logo_escola_livre.png" alt="{{ site.name }}">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
            {% include '_navbar-menu.html' %}
        </div>
    </div>
</nav>
