{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <!--  PORTFOLIO   -->
        <div id="portfolio">
            <div class="container">
                <div class="header-portfolios">
                     {% if portfolios|length > 1 %}


                      <a href="/portfolio/{{portfolios.0.user.username}}/new" class="btn btn-lg btn-default uppercase pull-right">{% trans 'Add Portfolio' %}</a>
                {% endif %}
                       <h1>MY PORTFOLIO</h1>

                </div>
                <div class="row">
                    {% for portfolio in portfolios %}

                    <div class="col-sm-6 col-md-3">
                        <div class="item-portfolio">
	                      <img src="{{ portfolio.get_thumbnail_url }}" alt="" title=""/>

	                       <div class="caption">
		                     <a href="/portfolio/{{ portfolio.user.username }}/{{portfolio.pk}}/">{{ portfolio.name }}</a>
		                     <p>{{ portfolio.description }}</p>
	                      </div>

                        </div>
                    </div>
                      {% endfor %}
                 </div>
            </div>
             <div class="container-btn-section2">

                       </div>
        </div>


       <!-- END Portfolio  -->
{% endblock %}
