{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load compressed %}
{% block js %}
{{ block.super }}
{% compressed_js 'portfolios' %}
{% endblock %}

{% block content %}
<div id="portfolio">
    <div class="container">
        <div class="header-portfolios">
            <h1>Trampos</h1>
            <h2>Veja os trabalhos produzidos pelos alunos.</h2>
        </div>
        {% for portfolio in portfolios %}
          {% include '_portfolio-item.html' %}
        {% endfor %}
    </div>
    {% if is_paginated %}
    <div class="container-btn-section2">
        {% include '_pagination.html' with page_obj=page_obj %}
    </div>
    {% endif %}
</div>
{% endblock %}
