{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load timtec_markdown %}
{% load compressed %}
{% block js %}
{{ block.super }}
{% compressed_js 'portfolio' %}
{% endblock %}

{% block content %}

<script type="text/javascript">
window.portfolioId = {{ portfolio.id }};
</script>

<div id="portfolio-user"  ng-app="portfolio" ng-controller="PortfolioEditController">

    {% if in_student and portfolio_user_id == user.pk %}
        <!-- ACTIONS -->
        <div class="actions" fixed-bar>
            <div class="container">
                <div class="row">
                    <div class="col-xs-5">
                        <button class="btn btn-danger" title="{% trans 'Delete Portfolio' %}" ng-click="deletePortfolio()"><i class="fa fa-trash-o"></i> | {% trans 'Delete this portfolio' %}</button>
                    </div>
                    <div class="col-xs-7 textright">
                        <!-- <button class="btn btn-info">Listar | <i class="fa fa-star-o"></i></button> -->
                        <button class="btn btn-success" ng-click="savePortfolio()">{% trans 'Save' %} | <i class="fa fa-save"></i></button>
                        <button class="btn btn-warning" ng-click="publishPortfolio()">{% trans 'Publish' %} | <i class="fa fa-star-o"></i></button>
                    </div>
                </div>
            </div>

        </div>
        <!-- END ACTIONS -->
    {% endif %}

    <!-- HEADER -->
    <header class="container">
        <!-- PAGE-HEADER -->
        <div class="page-header">
            <!-- ROW -->
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-12">
                {% if in_student and portfolio_user_id == user.pk %}
                    <h1>
                        <span  ng-model="portfolio.name" placeholder="{% trans 'Portfolio name' %}" contenteditable="true"></span></h1>
                {% else %}
                    <h1>{{ portfolio.name }}</h1>
                {% endif %}
                </div>
            </div>
            <!-- END ROW -->
        </div>
        <!-- END PAGE-HEADER -->
    </header>
    <!-- END HEADER -->

    <!-- COURSE-CONTENT -->
    <section id="portfolio-content" class="container">
        <!-- ROW -->
        <div class="row">
            <!-- COL-LG-9 -->
            <div class="col-md-6" ng-init="mediaSection='thumbnail'">

                {% if in_student and portfolio_user_id == user.pk %}
                    <!-- ADD CONTENT -->
                    <div class="add-content row">
                        <div class="col-lg-6">
                            <button ng-click="mediaSection='video'"
                                    ng-class="{'btn-success':mediaSection=='video'}"
                                    class="btn btn-default uppercase selected">{% trans 'Video' %}</button>

                            <button class="btn btn-default uppercase"
                                    ng-class="{'btn-success':mediaSection=='thumbnail'}"
                                    ng-click="mediaSection='thumbnail'">{% trans 'Thumbnail' %}</button>
                        </div>
                    </div>
                    <!-- END ADD CONTENT -->

                    <section class="thumbnail" ng-show="mediaSection=='thumbnail'" ng-init="thumbfile=null">

                        <div class="row" ng-show="addThumb" ng-init="addThumb=(thumbfile===null)">

                            <div class="add-thumbnail col-sm-12 col-lg-12 textcenter">
                                <div class="centered">
                                    <div class="form-group">
                                        <i class="fa fa-picture-o fa-4x"></i>
                                        <h1 class="bottom top">{% trans 'Thumbnail' %}</h1>
                                        <p>({% trans "min-width" %}: 845px)</p>

                                        <file ng-model="thumbfile" name="thumbnail" class="form-control"></file>
                                    </div>

                                    <p>
                                        <br>
                                        <button class="btn btn-danger btn-lg uppercase"
                                                ng-click="thumbfile=null; addThumb=!portfolio.thumbnail_url">{% trans 'Cancel' %}</button>

                                        <button class="btn btn-success btn-lg uppercase"
                                                ng-click="addThumb=(thumbfile===null); saveThumb()">{% trans 'Add' %}</button>

                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-show="!addThumb">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <img local-image ng-model="thumbfile" class="img-responsive"/>
                                {% verbatim %}
                                <img ng-src="{{portfolio.thumbnail_url}}" class="img-responsive" ng-show="!thumbfile"/>
                                {% endverbatim %}
                            </div>

                            <div class="col-lg-12 textright">
                                <button class="btn-edit-thumbnail btn btn-success btn-sm uppercase"
                                        ng-click="addThumb=true">{% trans 'Change thumbnail' %}</button>
                            </div>
                        </div>
                    </section>

                    <!--  COURSE-VIDEO  -->
                    <section class="video" ng-show="mediaSection=='video'">
                        <div class="row">
                            <div class="col-xs-12" ng-show="portfolio.video.youtube_id && !playerReady">
                                <div class="waiting textcenter jumbotron" style="height: 515px">
                                    <div class="middle">
                                        <i class="fa fa-refresh fa-5x"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12" style="overflow:hidden;"
                                 ng-style="{'margin-left': portfolio.hasVideo() && playerReady ?'':'-2000px'}">

                                <div id="youtube-player" player-height="475px" player-width="100%" youtube-player></div>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <p class="video-title" ng-model="portfolio.video.name" placeholder="Nome do vídeo" contenteditable><p>
                                    </div>
                                    <div class="col-lg-2 textcenter">
                                        <button class="btn-edit-video btn btn-success btn-sm uppercase"
                                                ng-click="portfolio.video.youtube_id=''">{% trans 'Change video' %}</button>
                                    </div>
                                </div>
                            </div>

                            <div class="add-video-intro col-sm-12 col-lg-12 textcenter"
                                 ng-show="!portfolio.video.youtube_id">
                                <div class="centered">
                                    <div class="form-group">
                                        <i class="fa fa-youtube-play fa-4x"></i>
                                        <h1 class="top">{% trans 'portfolio video' %}</h1>
                                        <input type="text" tabindex="8" ng-model="youtube_id" class="form-control"/>
                                    </div>

                                    <p>
                                        <button class="btn btn-danger btn-lg uppercase"
                                                ng-click="portfolio.video.youtube_id=''">{% trans 'Cancel' %}</button>
                                        <button tabindex="9"
                                                class="btn btn-success btn-lg uppercase"
                                                ng-show="!portfolio.video.youtube_id"
                                                ng-click="portfolio.video.youtube_id=youtube_id">{% trans 'Add' %}</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--  END COURSE-VIDEO  -->
                {% else %}
                    <!-- COURSE-VIDEO -->
                    <!-- THUMBNAIL VIEW -->
                {% if portfolio.video == None  %}
                    <section class="thumbnail" id="thumbnail-video" >
                       <div class="row">
                           <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                  <img class=" img-responsive" style="content:url({{ portfolio.get_thumbnail_url }})">
                           </div>
                        </div>
                    </section>

                {% else %}

                    <!-- THUMBNAIL VIEW -->
                    <!-- COURSE-VIDEO -->
                    <section class="video" id="course-video">
                        <!-- ROW -->
                        <div class="row">
                            {% with yid=portfolio.video.youtube_id %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                    <iframe id="youtube-player" type="text/html" frameborder="0" src="//www.youtube.com/embed/{{yid}}?rel=0&showinfo=0&autohide=1&theme=light&wmode=opaque" allowfullscreen>
                                    </iframe>
                                </div>
                            {% endwith %}
                        </div>
                        <!-- END ROW -->
                    </section>
                    <!-- END COURSE-VIDEO -->
                    {% endif %}
                    <!-- END COURSE-VIDEO -->
                {% endif %}
            </div>
            <!--change -->
           <div class="col-sm-6 col-md-3 portfolio-description">
            <h3>Sobre esse projeto</h3>
      {% if in_student and portfolio_user_id == user.pk %}
            <modalmarkdowneditor tabindex="6" on-save="savePortfolio()" title="{% trans 'Description' %}" content="portfolio.description"></modalmarkdowneditor>
               {% else %}
<p>{{portfolio.description|timtec_markdown}}</p>
{% endif %}
        </div>

            <!--change -->

          <div class="col-sm-6 col-md-3 portfolio-user-detail">
            <h3>Portfolio Creado por</h3>
             <div class="media">
                  <a href="#" class="pull-left">
            {% verbatim %}
                  <div class="thumbnail">
                      <img  style="content:url({{ user.picture }})" class="media-object">
                 </div>
                 </a>
              <div class="media-body">
                 <h4 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h4>
                 <i class="fa fa-map-marker fa-lg"></i>
                  <a>{{ user.city }}</a>

              </div>
                 <small><i>Posted on {{ portfolio.timestamp | date:"d M, y" }}</i></small>
                 <a ng-href="/profile/{{ user.username }}" class="btn btn-outline-inverse btn-lg btn-section-user">Ver Perfil Completo</a>
                 {% endverbatim %}
          </div>
          <hr>
              <h3>Outros trabalhos desse perfil</h3>
              <div class="other-portfolio" ng-repeat="portfolio in portfolios | orderBy:'timestamp':true | limitTo:2">
              <div class="media">
                  {% verbatim %}
                  <a ng-href="/portfolios/portfolio/{{ user.username }}/{{ portfolio.id }}/" class="pull-left">
                  <div class="thumbnail">
                      <img  style="content:url({{ portfolio.thumbnail_url }})" class="media-object">
                 </div>
                 </a>
              <div class="media-body">
                 <h1 class="media-heading">{{ portfolio.name }}</h1>
                  <p>{{ portfolio.description }}</p>
                  <small><i>Posted on {{ portfolio.timestamp | date:"d M, y" }}</i></small>
              </div>

                   {% endverbatim %}
          </div>
              </div>
               <hr>
               <h3>Compartilhar</h3>
             <div class="portfolio-share">


             <ul class="list-unstyled">
                 <li>
                     <span>
                   <a href="#" class="fa fa-facebook" onclick="window.open(
                              'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                              'fb-share-dialog',
                              'width=626,height=436');
                            return false;"></a>
                         </span>
                     <span>
                    <a href="#" class="fa fa-twitter" onclick="window.open(
                              'http://www.twitter.com/share?url='+encodeURIComponent(location.href),
                              'fb-share-dialog',
                              'width=626,height=436');
                            return false;"></a>
                         </span>

                     <span>
                     <a href="#" class="fa fa-pinterest" onclick="window.open(
                              'http://pinterest.com/pin/create/link/?url='+encodeURIComponent(location.href),
                              'fb-share-dialog',
                              'width=626,height=436');
                            return false;"></a>
                         </span>
                         </span>
                 </li>
               </ul>

             </div>
        </div>

        </div>
        <!-- END ROW -->
    </section>
      {% if in_student and portfolio_user_id == user.pk %}
        <!-- ALERT -->
        <div class="tt-popup notifications" alert-popup ng-class="{'hideTop': alert.hidden}">
            <div class="alert fade in" ng-class="'alert-' + alert.type">
                <button type="button" class="close" ng-click="alert.hidden=true">×</button>
                <h4 ng-bind="alert.title"></h4>
                <div class="bottom">
                    <ol class="bottom">
                        <li ng-repeat="message in alert.messages" ng-bind="message"></li>
                    </ol>
                </div>
                <div ng-show="alert.showControls">
                    <hr/>
                    <button type="button" class="btn" ng-class="'btn-'+alert.type"
                             ng-click="alert.hidden=true">{% trans 'Close' %}</button>
                </div>
            </div>
        </div>
        <!-- ALERT -->
    {% endif %}
    <!-- END COURSE CONTENT -->
</div>
<!-- END COURSE-CONTENT -->
{% endblock %}
