{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}

{% block content %}

<!--  PORTFOLIO   -->
<div id="mentore">
    <div class="container">
        <header class="page-header-double header">
            <h2><i class="fa fa-angle-double-right"></i> Mentores</h2>
        </header>
        <div class="row">
            {% for teacher in teachers %}
            <!-- Dark Profile Start -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="boxed profile dark">
                    <div class="inner">

                        <div class="row profile-data">
                            <!-- Left Side Start -->
                            <div class="col-lg-5 col-md-5 col-sm-3 col-xs-4 text-center">

                                <!-- Profile Avatar Start -->
                                <div class="profile-avatar">
                                    {% thumbnail teacher.picture "130x130" as thumb %}
                                    <img alt="{{ teacher.username }}" src="{{ thumb.url }}">
                                    {% empty %}
                                    <img alt="{{ teacher.username }}" src="{% static 'img/avatar-default.png' %}">
                                    {% endthumbnail %}
                                </div>
                                <!-- Profile Avatar End -->

                            </div>
                            <!-- Left Side End -->

                            <!-- Right Side Start -->
                            <div class="col-lg-7 col-md-7 col-sm-9 col-xs-8">
                                <h3>{{ teacher.first_name }} {{ teacher.last_name }}</h3>
                                <div class="send-msg">
                                    <a class="btn btn-sm btn-default" href="{% url 'profile' username=teacher.username %}">
                                        <i class="share-profile">Ver Mais</i>
                                    </a>
                                </div>
                            </div>
                            <!-- Right Side End -->
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-7 col-sm-9 col-xs-8">
                                <ul class="icon-list list-unstyled">
                                    <li><i class="fa fa-envelope"></i>{{ teacher.email }}</li>
                                    {% if teacher.city %}
                                    <li><i class="fa fa-map-marker"></i>{{ teacher.city }}</li>
                                    {% endif %}
                                    {% if teacher.occupation %}
                                    <li><i class="fa fa-suitcase"></i>{{ teacher.occupation }}</li>
                                    {% endif %}
                                    {% if teacher.site %}
                                    <li>
                                        <i class="fa fa-link"></i>
                                        <a href="{{ teacher.site }}">{{ teacher.site }}</a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>

                        {% if teacher.biography %}
                        <!-- Profile About Me Start -->
                        <div class="row about-me">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3>{% trans 'Bio' %}</h3>
                                <p>{{ teacher.biography }}</p>
                            </div>
                        </div>
                        <!-- Profile About Me End -->
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- Dark Profile End -->
            {% endfor %}
        </div>
    </div>
</div>
<!-- END Portfolio  -->
{% endblock %}
