{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<!--  PORTFOLIO   -->
<div id="portfolio">
  <div class="container">
    <div class="header-portfolios">
      <a href="{% url 'portfolio_new'%}" class="btn btn-lg btn-default uppercase pull-right">
        {% trans 'Add Portfolio' %}
      </a>
      <h1>MY PORTFOLIO</h1>
    </div>
    <div class="row">
      {% for portfolio in portfolios %}
      {% include '_portfolio-item.html' %}
      {% endfor %}
    </div>
  </div>
</div>
<!-- END Portfolio  -->
{% endblock %}
