// Fonts
@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand/Quicksand-Regular.eot');
    src: url('../fonts/Quicksand/Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Quicksand/Quicksand-Regular.woff') format('woff'),
         url('../fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
