/*Enois Design*/

body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}

.btn-en{
  margin-top: 11px;;
  color: #5E5E5E;
  font-weight: bold;
  font-size: 14px;
}
.btn-social{
  color: #006686;
  line-height: 2em;
}
.dropdown-menu-user{
  margin-left: -93%;
  opacity: 0.95;

}

.btn-section1{
  border-color: #ffffff;
  color: #ffffff;
}
.btn-section1:hover {
  color: #1CC6A1;
  background-color: #ffffff;
}

.navMenu{
  background-color: #FFFFFF;
  margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #006686;
  font-weight: bold;
  font-size: 13px;
}

#navName {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

/* Extra extra Small */
@media(max-width:320px) {
  #navName {
    font-size: 14px;
    bottom: 7%;
    position: absolute;
  }
  .navMenu {
    height: 50px;
  }
  .btn-social {
    margin-left: 10px;
  }
}

/* Extra Small */
@media(min-width:321px) and (max-width:767px){
  #navName{
    font-size: 18px;
    bottom: 10%;
    position: absolute;
  }
  .btn-social {
    margin-left: 10px;
  }
}

/* Small */
@media(min-width:768px) and (max-width:991px){
  #navName{
    font-size: 22px;
    bottom: 12%;
    position: absolute;
    left: 2%;
  }

  #navv > li > a {
    padding: 10px 1px 10px 5px;
  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    right: 2%;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 11px;
  }
}

/* Medium */
@media(min-width:992px) and (max-width:1199px){
  #navName{
    font-size: 26px;
    bottom: 14%;
    position: absolute;
  }
  .navMenu{
    height: 100px;
  }
  #navv{
    right: 2%;
    display: table;
    table-layout: fixed;
    position: absolute;
    bottom: 0;
  }
  .navbar-default .navbar-nav > li > a {
    color: #006686;
    font-size: 11px;
    font-weight: bold;
  }

}

/* Large */
@media(min-width:1200px){
  #navName{
    font-size: 30px;
    bottom: 0%;
    position: absolute;
  }
  .navMenu{
    height: 100px;
  }
  #navv{
    right: 2%;
    display: table;
    table-layout: fixed;
    position: absolute;
    bottom: 0;

  }
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    right: 2%;
  }

}


.carousel-indicators {
  bottom: 0;
}

#courses .icon-next {
  right: -25px;
  color: black;
  font-size: 70px;
  font-family: inherit;
  margin-top: -40px;
  cursor: e-resize;
}

#courses .icon-prev {
  left: -25px;
  color: black;
  font-size: 70px;
  font-family: inherit;
  margin-top: -40px;
  cursor: w-resize;
}
.carousel-control {
  opacity: 1;
  text-shadow: 0 0px 0px transparent;
}
#courses .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

#courses .carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

#courses {
  background-color: #EBEBEB;
}

#courses .carousel-indicators .active {
  background-color: #EBEBEB;

}
#courses  li.ng-scope {

  border: 0px none #ffffff;
}

#courses .header-courses h1 {
  color: #1CC6A1;
  font-weight: 900;
  font-size: 4em;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: -3px;
}

#courses .header-courses h2 {
  margin-top: -1%;
  color:#838383;
}


#courses .btn-section2 {
  border-radius: 0;
  border: 2px solid #1CC6A1;
  padding: 7px 12px;
  color: #1CC6A1;
  font-size: 18px;
  width: 20%;
}
#courses .btn-section2:hover {
  border: 2px solid #EBEBEB;
  color: #EBEBEB;
  background-color: #1CC6A1;
}
#courses .container-btn-section2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 20px;

}

#mentores{
  background-color: #FFC100;
  color:#ffffff;
}

#mentores h2{
  font-weight: bold;
  font-size: 35px;
  width: 75%;
}
#mentores .btn-section2 {
  border-radius: 0;
  border: 2px solid #ffffff;
  padding: 7px 12px;
  color: #ffffff;
  font-size: 18px;
}
#mentores .container-btn-section2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

#mentores .btn-section2:hover {
  border: 2px solid #FFC100;
  color: #FFC100;
  background-color: #ffffff;
}



#mentores .slider-mentores{
  display: block;
  margin: 5% -40px 5% 50px;
  p {
    width: 120%;
    margin: 0;
    font-size: medium;
  }
}

#mentores .img-mentores-slider {
  width: 50%;
}
#mentores .info-mentores {
  text-align: left;
  width: 70%;
  height: 150px;
}
#mentores .info-mentores h5{
  margin-top: 9%;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: auto;
}
#mentores .carousel-control.left {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
#mentores .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
#mentores  .carousel-indicators .active {
  background-color: #FFC100;
}
#mentores li.ng-scope {
  border: 0px none #FFC100;
}

#mentores .icon-next {
  color: #ffffff;
  font-size: 70px;
  font-family: inherit;
  top: 30%;
  margin-right: -40px;
  cursor: e-resize;
}
#mentores .mentores-text {
  margin-top: 3%;
  p {
    font-size: 18px;
  }
}
#mentores .icon-prev {
  left: -25px;
  color: #ffffff;
  font-size: 70px;
  font-family: inherit;
  top: 30%;
  cursor: w-resize;
}

#enois {
  position: relative;
  width: 100%;
  background-color: #50D5A8;
}
#enois .text {
  position: relative;
  color: #ffffff;
}
#enois img {
  margin-left: 4%;
}
#enois .text h3 {
  font-weight: bolder;
  font-size: 42px;
  margin-top: 7%;
}
#enois .text p {
  font-size: 16px;
  font-weight: bolder;
}
//FOOTER
.ftr{
  background-color: #1F1F1F;
  padding-top: 4%;
  padding-bottom: 1%;
}
.ftr address, .ftr a, .ftr p{
  color: #fff;
}
.ftr ul li a:hover {
  color: #bfd6e4;
  padding-left: 5px;
}
.ftr .list-menu {
  padding-top: 7%;
}
.ft_space{
  padding: 0 10px;
}
.ftr .list-unstyled a{
  font-weight: bold;
}
.ftr .btn-social {
  color: #EBEBEB;
  line-height: 2em;
  margin-top: -10%;
}
.ftr .btn-social .fa-inverse {
  color:  #1F1F1F;
}
.ftr .btn-default {
  background-color: #333333;
  border: medium none !important;
  color: #e2e2e2;
}
//END FOOTER
.scroll-top {
  position:fixed;
  bottom:0;
  right:6%;
  z-index:100;
  background: #ffcc33;
  font-size:24px;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
}

#main-navbar .dropdown-enois{

  color: #006686;
  opacity: 0.95;
  width: auto;
}

.dropdown-menu > li > a {
  color: #006686;
}

#courses .enroll-student { // go to course link
  width: 100%;
  background-color: #ffffff;
  color:  #1F1F1F;
  font-family: 'Quicksand';
  line-height: 4;
  .transition(all 0.25s ease);
  a {
    color: #fff;
    display: block;
    line-height: 3;
  }
  .enroll-link {
    float: right;
    margin-right: 3%;
    button {
      text-transform: uppercase;
    }
  }
  .btn {
    border-radius: 6px;
    background-color: #1CC6A1;
    font-size: 12px;
  }
  .student-number {
    margin-left: -20%;
    font-size: 12px;
    font-weight: bold;
  }
  .fa {
    margin: 0 9px;
  }
} // .enroll

// Thumbnail Caption

.item-portfolio {
  width: 250px;
  height: 230px;
  border:6px solid #FEFEFE;
  margin: 20px 10px 10px;
  border-radius: 6px;
  /* required to hide the image after resized */
  overflow:hidden;

  /* for child absolute position */
  position:relative;

  /* display div in line */

}

.item-portfolio .caption {
  width: 250px;
  height: 230px;

  background:#ffffff;
  color:#000;
  font-weight:bold;
  padding-top: 15%;

  /* fix it at the bottom */
  position:absolute;
  text-align: center;

  /* hide it by default */
  display:none;

  /* opacity setting */
  filter:alpha(opacity=80);    /* ie  */
  -moz-opacity:0.8;    /* old mozilla browser like netscape  */
  -khtml-opacity: 0.8;    /* for really really old safari */
  opacity: 0.8;    /* css standard, currently it works in most modern browsers like firefox,  */

}

.item-portfolio .caption a {
  text-decoration:none;
  color:#000000;
  font-size:23px;
  font-weight: bold;

  /* add spacing and make the whole row clickable*/
  padding:5px;
  display:block;
}

#portfolio .user-data {
  margin-left: 10%;
}
#portfolio .user-data a{
  color:#FF936F;
  font-weight: bold;
}
#portfolio .user-data a:hover {
  text-decoration: underline;
}
#portfolio .user-data i{
  color: #333333;
  padding-right: 2%;
}

.item-portfolio .caption p {
  font-size: 11pt;
  line-height: 15pt;
  max-height: 90pt;
  overflow: hidden;
  position: relative;
  width: 95%;
}

.item-portfolio .caption p:after
{
  display: block;
  position: absolute;
  content: "…";
  bottom: 0;
  right: 0;
}
.item-portfolio img {
  border:0;
  width: 250px;
  height: 230px;

  /* allow javascript moves the img position*/
  position:absolute;
}

.clear {
  clear:both;
}
//end Thumbnail Caption

//PORTFOLIO SECTION
#portfolio {
  background-color: #EBEBEB;
}
#portfolio .header-portfolios {
  margin-left: 2%;
  margin-top: 2%;
  margin-right: 1.5%;
}

#portfolio .header-portfolios h1 {
  color:#FF936F;
  font-weight: 900;
  font-size: 3.4vw;
}

#portfolio .header-portfolios h2 {
  color: #ff936f;
  font-weight: bold;
}

#portfolio .btn-section2 {
  border-radius: 0;
  border: 2px solid #FF936F;
  padding: 7px 12px;
  color: #FF936F;
  font-size: 18px;
  width: 20%;
}
#portfolio .btn-section2:hover {
  border: 2px solid #EBEBEB;
  color: #EBEBEB;
  background-color: #FF936F;
}
#portfolio .container-btn-section2{
  display: block;
  padding-bottom: 2%;
  padding-top: 2%;
  text-align: center;
}
//end PORTFOLIO SECTION

//AROW SCROLL TOP
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #1F1F1F;
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 1%;
  bottom: 3%;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility:visible;
  cursor:pointer;
  opacity: 1.0;
}
.scroll-top-wrapper i.fa {
  line-height: inherit;
}
//END AROW SCROLL


//PORTFOLIO
.header-portfolios>h1{
  color: #ff936f;
  font-size: 3.4vw;
  font-weight: 900;
}


// SHARED HEADER STYLES

#portfolio-user {
  header {
    .page-header {
      border-bottom: 1px solid @gray-lighter;
      margin-bottom: 20px;
      margin-top: 8%;
      h1 {
        .bottom(0,0);
        .top(0,0);
        font-weight: bold;
        text-transform: uppercase;
        color: #ff936f;
        font-size: 3.4vw;
        //
        span {
          display: block;
        }
        a {
          color: @gray-darker;
          &:hover {
            color: @brand-info;
          }
        }
      }
    }
    .course-slug {
      margin-bottom: 5px;
      label {
        color: @gray-light;
        font-weight: normal;
      }
    }
    ul.instructors {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        text-transform: uppercase;
        a {
          color:@brand-success;
          &:hover {
            color:darken(@brand-success, 10%);
          }
          &:after {
            content: " // ";
            color: black;
            margin-right: 3px;
          }
        }
        &:last-child a:after {
          content: "";
        }
      }
    }
  }
}


// LESSON HEADER AND NAVIGATION
#portfolio-user {
  #portfolio-content {
    nav.course-lessons {
      h1 {
        .bottom(0,0);
        font-size: 30px;
      }
      p.description {
        color: @gray-light;
      }
    }
    nav.lesson-units {
      margin-bottom: 60px;
      ul.dropdown-menu {
        li {
          a {
            color: @gray-light;
            font-size: 12px;
            &:hover {
              background-color: transparent;
              color: @gray;
            }
          }
        }
      }
    }
  }
}

// PORTFOLIO CONTENT
#portfolio-content {

  header {
    border-bottom: 1px solid @gray-lighter;
    margin-bottom: 20px;
    padding-bottom: 20px;
    h1 {
      margin-top: 25px;
    }
    a.goto-course {
      display:block;
      margin-top: 18px;
    }
  }
  .portfolio-user-detail{
    margin-left: 10px;
    margin-top: 12px;
    width: 27%;
    .portfolio-share{
      .fa {
        color: #7f7f7f;
        font-size: 20px;
        padding: 0.5em 1em 1em 0;
      }

    }
    .other-portfolio{
      .media, .media-body {
        padding-left: 1%;
        padding-top: 1%;
      }
      .thumbnail > img{
        max-width: 100px;
        height: 100px;
      }
      p{
        height: 60px;
        line-height: 20px;
        overflow: hidden;
        width: 100%;
      }
      h1{
        color: #747474;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    hr{
      border: 1px solid #A4A4A4;
    }
    a{
      color: #414141;
      text-transform: capitalize;
      font-size: 15px;
      font-weight: bold;
    }
    h4{
      color: #414141;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;
    }
    .btn-section-user{
      border-radius: 0;
      border: 2px solid #7F7F7F;
      padding: 6px 12px;
      color: #7F7F7F;
      font-size: 15px;
      width: 70%;
      font-weight: bold;
    }
    .btn-section-user:hover {
      border: 2px solid #EBEBEB;
      color: #EBEBEB;
      background-color: #7F7F7F;
    }
    h3{
      color: #FF936F;
      margin-top: 0;
      font-size: 15px;
      font-weight: bold;
    }
    p {
      margin: 0;
      font-size: 15px;
    }
    .thumbnail{
      background-color: #EBEBEB;
      border: 0;
      margin-top: 2%;
      width: 100px;
      height: 100px;
    }
  }

  .portfolio-description{
    margin-top: 12px;
    width: 22%;
    h3{
      color: #FF936F;
      margin-top: 0;
      font-size: 15px;
      font-weight: bold;

    }
    p {
      margin: 0;
      font-size: 15px;
    }
  }
  .thumbnail{
    background-color: #EBEBEB;
    border: 0;
    margin-top: 2%;
  }
}


.pagination-controle li{
  display: inline-block;
}
.pagination-controle button{
  font-size: 12px;
  margin-top: -26px;
  cursor:pointer;

}
.pagination{
  margin:5px 12px !important;
}


/* PURE CAPTION CSS */

.thumb-portfolio {
  color: black;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 230px;
  border:6px solid #FEFEFE;
  margin: 20px 10px 10px;
  border-radius: 6px;
  /* required to hide the image after resized */
  overflow:hidden;

  /* for child absolute position */
  position:relative;

  /* display div in line */
}
.thumb-portfolio img {
  border:0;
  width: 250px;
  height: 230px;

  /* allow javascript moves the img position*/
  position:absolute;
}
.thumb-portfolio > div {
  top: 0;
  left: 0;
  width: 250px;
  height: 230px;
  background:#ffffff;
  color:#000;
  font-weight:bold;
  padding-top: 8%;

  /* fix it at the bottom */
  position:absolute;
  text-align: center;

  /* hide it by default */
  display:none;

}
.thumb-portfolio:hover > div {
  display: block;
  background: rgba(255, 255, 255, 0.85);

}
.thumb-portfolio h2 {
  color: #000000;
  display: block;
  font-size: 30px;
  font-weight: bold;
  padding: 4px;
}
.thumb-portfolio p {
  font-size: 10pt;
  line-height: 13pt;
  margin-left: 4%;
  margin-right: 4%;
  max-height: 80pt;
  overflow: hidden;
  position: relative;
  width: 90%;
}

.thumb-portfolio  p:after
{
  display: block;
  position: absolute;
  content: "…";
  bottom: 0;
  right: 0;
}

/* END PURE CAPTION CSS */
#portfolio .btn.btn-primary{
  background-color:  #FF936F;;
}

/*Teachers page*/
////////////////////////////////////////////////////////////

.boxed {
  margin-bottom: 20px;
  .inner {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    padding: 12px 20px;
    &:after {
      clear: both;
      content: "";
      display: block;
    }
    input {
      width: 100%;
    }
    &.no-radius {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    h1, h2, h3, h4, h5, h6 {
      margin: 0;
      padding: 0;
    }
    h2.divider, h3.divider {
      margin: 10px 0;
    }
  }
}

.boxed.no-padding .inner {
  padding: 0;
}
.boxed .title-bar {
  background-color: #fafafa;
  border-bottom: 1px solid #eff2f7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  padding: 10px;
}
.boxed .title-bar.white {
  background-color: #ffffff;
}
.boxed .title-bar.gray {
  background-color: #fafafa;
}
.boxed .title-bar.white h4 {
  color: #b7c9cd;
}
.boxed .title-bar h4 {
  color: #b7c9cd;
  float: left;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  margin: 0;
  text-transform: uppercase;
  width: 70%;
}
.boxed .title-bar .actions {
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 25%;
}
.boxed .title-bar .actions li {
  display: inline-block;
  padding-right: 8px;
}
.boxed .title-bar .actions li a i {
  color: #a9abab;
}
.boxed .title-bar .actions li a {
  font-size: 14px;
}
.boxed .title-bar .actions:after {
  clear: both;
  content: "";
  display: inline-block;
}
.boxed.calendar .inner {
  border-top-right-radius: 0 !important;
}
.profile .title {
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 25px;
  padding-bottom: 10px;
  vertical-align: middle;
}
.profile .title:after {
  clear: both;
  content: "";
  display: block;
}
.profile .title h3 {
  color: #7b8b9d;
  display: inline-block;
  vertical-align: middle;
}
.profile .title .share-profile {
  color: #7b8b9d;
  display: inline-block;
  float: right;
  font-size: 13px;
  line-height: 26px;
  vertical-align: middle;
}
.profile .title .share-profile:after {
  color: #5ecad4;
  content: "";
  font-family: 'FontAwesome';
  font-size: 14px;
  padding-left: 8px;
}
.profile h3 {
  padding-bottom: 10px !important;
}
.profile .profile-data .profile-avatar {
  border-radius: 50%;
  display: inline-block;
  height: 130px;
  overflow: hidden;
  width: 130px;
}
.profile .profile-data .send-msg {
  display: inline-block;
  width: 100%;
}
.profile .profile-data .send-msg .btn {
  font-size: 12px;
  font-weight: normal;
  margin-left: 0 !important;
}
.profile .icon-list {
  margin-left: -16px;
  margin-top: 10px;
  padding: 0;
}
.profile .icon-list li {
  color: #006580;
  padding-bottom: 10px;
}
.profile .icon-list li i {
  color: #006580;
  min-width: 25px;
  text-align: center;
}
.profile .icon-list li a {
  color: #006580;
}
.profile .icon-list li a:hover {
  color: #5ecad4;
}
.profile .profile-stats {
  margin: 10px -5px;
  padding: 0;
}
.profile .profile-stats li {
  display: inline-block;
  padding: 25px 0;
  text-align: center;
  vertical-align: top;
}
.profile .profile-stats li p {
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.profile .profile-stats li h3 {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}
.profile .about-me {
  padding: 20px 0;
}
.profile .about-me p {
  font-size: 13px;
  color: black;
}
.profile .about-me h3 {
  font-size: 21px;
  margin-bottom: 15px;
}
.profile-data {
  margin-bottom: 20px;
}
.profile.dark .inner {
  background-color: white;
}
.profile.dark .title, .profile.dark .footer {
  border-color: #364b61;
}
.profile.dark .profile-data h3 {
  color: #006580;
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}
.profile.dark .icon-list li {
  color: #006580;
}
.profile.dark .profile-stats li {
  background-color: #14202d !important;
  border-right: 1px solid #233242;
}
.profile.dark .profile-stats li:last-child {
  border-right: 0 none;
}
.profile.dark .send-msg .btn {
  background-color: #006580;
  border-radius: 2px;
  color: white;
}
.profile.dark .send-msg .btn:hover {
  background-color: white;
  color: #006580;
}
.profile.image .title, .profile.image .footer {
  border-color: #ffffff;
}
.profile.image .title h3, .profile.image .title a, .profile.image .title a:after {
  color: #ffffff;
}
.profile.image .profile-data h3 {
  color: #ffffff;
}
.profile.image .icon-list li {
  color: #ffffff;
}
.profile.image .icon-list li i {
  color: #ffffff;
}
.profile.image .icon-list li a {
  color: #ffffff;
}
.profile.image .icon-list li a:hover {
  color: #14202d;
}
.profile.image .profile-stats li p {
  color: #ffffff;
}
.profile.image .profile-stats li h3 {
  color: #ffffff;
}
.profile.image .profile-stats li.followers {
  background-color: rgba(3, 132, 206, 0.5);
}
.profile.image .profile-stats li.following {
  background-color: rgba(26, 188, 156, 0.5);
}
.profile.image .profile-stats li.projects {
  background-color: rgba(167, 142, 215, 0.5);
}
.profile.image .profile-stats li.courses {
  background-color: rgba(248, 104, 104, 0.5);
}
.profile.image .about-me h3, .profile.image .about-me p {
  color: #ffffff;
}
.profile.image .footer h4 {
  color: #ffffff;
}
.content-side .content-box .inner {
  background-color: #f6f6f6;
  min-height: 100px;
  position: relative;
}
.daily-traffic .inner {
  margin: 20px 0;
}
.daily-traffic .inner:after {
  clear: both;
  content: "";
  display: block;
}
.daily-traffic .inner h3 {
  font-size: 16px;
  text-align: center;
}
.daily-traffic .inner .count-to {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.social-box .icon-container .inner {
  display: table-cell;
  height: 70px;
  text-align: center;
  vertical-align: middle;
  width: 80px;
}


// INSTRUCTOR ENOIS
#instructors-info .instructor{
  .media-body {
    padding-top: 20px;
    h4 {
      color: #747474;
      font-weight: bolder;
      text-decoration: underline;
      text-transform: uppercase;
    }
    a {
      color:#747474;
      font-size: 18px;
      text-transform: capitalize;
    }
  }
  img {
    height: 80px;
  }
}

#mentore .header {
  margin-bottom: 3%;
  margin-top: 3%;
  h2 {
    color: #006580;
    font-weight: bold;
  }
}

.navbar-social {
  margin-bottom: -50px;
}
.navbar-menu {
  margin-top: 50px;
}
.navbar-header {
  padding-top: 36px;
}
