{% extends 'base.html' %}
{% load i18n %}

{% block content %}
        <!-- CONTAINER -->
        <div id="courses-page" class="container">
            <header class="page-header-double">
                <h2><i class="fa fa-angle-double-right"></i> {% trans 'Courses' %}</h2>
            </header>

            <section id="courses" class="row">
                <div class="col-md-8">
{#                    <div class="filters">#}
{#                        <!--  FORM INLINE -->#}
{#                        <div class="form-inline">#}
{#                            <!-- ROW -->#}
{#                            <div class="row">#}
{#                                <div class="status col-sm-7">#}
{#                                    <button class="btn btn-info">Todos</button>#}
{#                                    <button class="btn btn-default">Em andamento</button>#}
{#                                    <button class="btn btn-default">Próximos</button>                                #}
{#                                </div>#}

{#                                <div class="col-sm-5 textright">#}
{#                                    <div class="search input-group">#}
{#                                        <input type="text" ng-model="filters.textsearch" placeholder="Pesquisar" class="form-control ng-pristine ng-valid">#}
{#                                        <span class="input-group-btn"><button class="btn btn-info"><i class="fa fa-search"></i></button></span>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <!-- END FORM INLINE -->#}
{#                    </div>#}
                    {% for course in courses %}
                    <!-- COURSE -->
                    <div class="course">
                        <a href="{% url "course_intro" course.slug %}" class="course-link">
                            <div class="thumb-wrapper">
                                <span class="mouseover"></span>
                                {% if course.home_thumbnail %}
                                <span class="thumb" style="background-image: url({{ course.home_thumbnail.url }})"></span>
                                {% endif %}
                            </div>
                            <div class="info-box">
                                <div class="info">
                                    <h3>{{ course.name }}</h3>
                                    <p class="instructors">{% for professor in course.professors.all %}{{ professor.get_full_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                                    <p class="abstract">{{ course.abstract }}</p>
                                </div>
                                <div class="enroll">
                                    <span>
                                        <i class="fa fa-calendar"></i> {{ course.start_date |date:"M, Y" }}
                                    </span>
                                    <span class="enroll-link textright uppercase">
                                        Começar curso <i class="fa fa-angle-right"></i>
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- END COURSE -->
                    {% endfor %}
                </div>
                <div class="col-md-4">
                    <aside class="more-info">
                        <div class="box">
                            <h3>Comece agora</h3>
                            <p>A Escola de Jornalismo ensina comunicação de um jeito diferente: o seu. Você escolhe que cursos fazer, em quanto tempo vai assistir a cada aula e qual será seu projeto final. Bora começar?</p>
                        </div>
                        <div class="box">
                            <h3>A Escola</h3>
                            <p>Cada curso apresenta aulas em vídeo, rápidas e bem humoradas, com profissionais reconhecidos em suas áreas de atuação.</p>
                            <p>Exercícios e materiais de apoio complementam o conteúdo e, depois de terminar o módulo, é hora de botar a mão na massa e produzir seu próprio conteúdo!</p>
                        </div>
                        <div class="box">
                            <h3>Como funciona?</h3>
                            <ol>
                                <li>Entre num curso que te interesse.</li>
                                <li>Clique em “Fazer curso” e cadastre-se.</li>
                                <li>Assista às aulas e faça as atividades.</li>
                                <li>Se tiver dúvidas, entre em contato com a gente.</li>
                            </ol>
                        </div>
                        <div class="box">
                            <h3>Você é professor?</h3>
                            <p>Você quer usar esse conteúdo em sala de aula e precisa de orientação? Mande uma mensagem e nos conte suas ideias!</p>
                            <a href="#" class="btn btn-info btn-block btn-lg" data-toggle="modal" data-target="#modal-contact">Entre em contato <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </aside>
                </div>
            </section>
        </div>
        <!-- CONTAINER -->
{% endblock %}
